# --- NÚCLEO (Instalado manualmente) ---
# GDAL  <-- NO DESCOMENTAR (Se instala con .whl manual)

# --- CIENCIA DE DATOS E IMÁGENES ---
# Limitamos numpy a <2.0.0 porque la versión 2.0 rompe muchas librerías actuales
numpy>=1.26.0,<2.0.0
pandas>=2.2.0
scipy>=1.15.0
matplotlib>=3.10.0
scikit-image>=0.25.0
pillow>=10.0.0
opencv-python>=4.10.0

# --- GEOESPACIAL ---
# Estas usarán el GDAL que ya instalaste manualmente
geopandas>=0.14.0
rasterio>=1.3.0
shapely>=2.0.0
fiona>=1.9.0

# --- INTELIGENCIA ARTIFICIAL ---
onnxruntime>=1.16.0

# --- INTERFAZ GRÁFICA (GUI) ---
PyQt5>=5.15.0
pyinstaller>=6.0.0

# --- UTILIDADES ---
psutil
humanfriendly
coloredlogs
